@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Quicksand:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #eceef7;
  color: #000932;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-d-header.is-open .e-d-header-background {
  left: 0;
}
.e-d-header-button-wrapper {
  margin-left: auto;
}
.e-d-header-icon {
  display: none;
}

.e-d-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-d-navigation-list.is-open {
  right: 0;
}
.e-d-header-icon-menu {
  display: block;
}

.e-d-header-icon-button.is-open .e-d-header-icon-menu {
  display: none;
}

.e-d-header-icon-button.is-open .e-d-header-icon-close {
  display: block;
}

.e-d-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: #eceef7;
}

.e-d-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #eceef7;
}
.e-d-header.is-open .e-d-header-background {
  left: 0;
}
.e-d-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-d-header-icon-menu {
  display: block;
}

.e-d-header-icon-button.is-open .e-d-header-icon-menu {
  display: none;
}

.e-d-header-icon-button.is-open .e-d-header-icon-close {
  display: block;
}

.e-d-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 16px;
  position: relative;
}

.e-d-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 657px;
  transition: 0.3s;
  z-index: 999;
  padding: 60px 32px;

  gap: 20px;
  background: #eceef7;
}

.e-d-navigation-list.is-open {
  right: 0;
}

.e-d-navigation-link {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000932;
}

.e-d-navigation-link:hover,
.e-d-navigatioт-link:focus {
  text-shadow: 0px 4px 0px #0000003d;
}

.e-d-header.is-open {
  background-color: transparent;
}

.e-d-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .e-d-navigation-img {
    display: flex;
  }
  .e-d-header-icon-title {
    display: none;
  }
  .e-d-header-button-wrapper {
    display: none;
  }
  .e-d-header {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0px 0 10px;
    background: #eceef7;
  }

  .e-d-header-background {
    background: #eceef7;
  }
  .e-d-header-icon-button {
    display: none;
  }
  .e-d-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-d-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 8px;
    height: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding: 0 203px;
  }

  .e-d-navigation-link {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    text-decoration: none;
  }

  .e-d-navigation-item-desk {
    display: none;
  }
}
.e-d-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 12\ \(3\).png");
  margin: auto;
}
.e-d-home-container {
  width: 375px;
  padding: 108px 28px 0px;
  margin: auto;
}

.e-d-home-title {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}
.e-d-home-title-bold {
  color: #0000a4;
}

.e-d-home-text-bold {
  font-family: Fredoka;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  padding: 20px 0 32px;
}
.e-d-home-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}
.e-d-home-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding: 40px 0 16px;
}
.e-d-home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.e-d-home-link {
  width: 171px;
  border-radius: 12px;
  padding: 12px 0;
  border: 1px solid #0000a4;
  transition: all 0.3s ease-in-out;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #0000a4;
  text-decoration: none;
}
.e-d-home-link-two {
  background: #0000a4;
  color: #d6d6d6;
}
.e-d-home-link:hover {
  box-shadow: 0px 4px 0px 0px #0000003d;
}

@media screen and (min-width: 1202px) {
  .e-d-home {
    width: 1440px;
    height: 761px;
    background-image: url("/img/Frame\ 13\ \(1\).png");
  }
  .e-d-home-container {
    width: 1440px;
    padding: 188px 160px 0px;
  }
  .e-d-home-title {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
  }

  .e-d-home-text-bold {
    font-family: Fredoka;
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    padding: 20px 0 32px;
  }
  .e-d-home-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
  .e-d-home-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 40px 0 16px;
  }
  .e-d-home-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .e-d-home-link {
    width: 248px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .e-d-home-link-two {
    background: #0000a4;
    color: #d6d6d6;
  }
  .e-d-home-link:hover {
    box-shadow: 0px 4px 0px 0px #0000003d;
  }

  .e-d-home-textq {
    width: 507px;
  }
  .e-d-home-textw {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
  }
}
.e-d-about-container {
  width: 375px;
  padding: 64px 16px 0;
  margin: auto;
}
.e-d-about-title {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}
.e-d-about-text {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 8px 0 24px;
}
.e-d-home-list {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.e-d-about-text-bold {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 20px 0 16px;
}
.e-d-home-list-two {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.e-d-about-text-boldq {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
}
.e-d-about-img {
  display: none;
}
@media screen and (min-width: 1202px) {
  .e-d-about-container {
    width: 1440px;
    padding: 130px 120px 0;
  }
  .e-d-about-title {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 56px;
    text-align: center;
  }
  .e-d-about-text {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 16px 0 32px;
  }
  .e-d-home-list {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;

    gap: 12px;
  }
  .e-d-about-text-bold {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    padding: 32px 0 24px;
  }
  .e-d-home-list-two {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;

    gap: 20px;
  }
  .e-d-about-text-boldq {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    padding-top: 32px;
  }
  .e-d-about-img {
    display: flex;
    margin-top: -24px;
  }
  .e-d-about-div {
    display: flex;
    justify-content: space-between;
  }
}

.e-d-why-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px 0;
}
.e-d-why-text-boldq {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 8px 0 24px;
}
.e-d-why-textq {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.e-d-why-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.e-d-why-item {
  border: 1.5px solid #15277752;
  border-radius: 12px;
  border-width: 1.5px;
  padding: 12px;
  color: #152777;
}
.e-d-why-text-bold {
  font-family: Quicksand;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}
.e-d-why-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 8px;
}
.e-d-why-texts {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 1202px) {
  .e-d-why-container {
    width: 1440px;
    padding: 160px 120px 0;
  }
  .e-d-why-text-boldq {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    padding: 16px 0 32px;
  }
  .e-d-why-textq {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
  }
  .e-d-why-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .e-d-why-item {
    width: 285px;
    height: 234px;
    gap: 16px;
    border-radius: 12px;
    border-width: 1.5px;
    padding: 12px;
  }
  .e-d-why-text-bold {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
  }
  .e-d-why-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    padding-top: 16px;
  }
  .e-d-why-texts {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
  }
}

.e-d-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
.e-d-uniqueness-text-bold {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 8px 0 24px;
}
.e-d-uniqueness-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.e-d-uniqueness-item {
  border-radius: 12px;
  border-width: 1.5px;
  padding: 12px;
  border: 1.5px solid #15277752;
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 20px;
  gap: 12px;
}
.e-d-uniqueness-img {
  margin: auto;
}
@media screen and (min-width: 1202px) {
  .e-d-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 160px 120px 0;
  }
  .e-d-uniqueness-text-bold {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;

    padding: 16px 0 32px;
  }
  .e-d-uniqueness-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .e-d-uniqueness-item {
    width: 224px;
    height: 255px;
    gap: 12px;
    border-radius: 12px;
    border-width: 1.5px;
    padding: 12px 10px;

    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
  .e-d-uniqueness-img {
    margin: 0 auto;
  }
}

.e-d-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
.e-d-how-text-bold {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 8px 0 24px;
}

.e-d-how-text {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.e-d-how-list {
  padding: 16px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.e-d-how-item {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}

.e-d-how-img {
  width: 32px;
  height: 32px;
}
.e-d-how-link {
  width: 233px;
  gap: 10px;
  border-radius: 12px;
  padding: 12px 0;
  background: #0000a4;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.e-d-how-link:hover {
  box-shadow: 0px 4px 0px 0px #0000003d;
}

@media screen and (min-width: 1202px) {
  .e-d-how-container {
    margin: auto;
    width: 1440px;
    padding: 160px 120px 0;
  }
  .e-d-how-text-bold {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    padding: 16px 0 32px;
  }

  .e-d-how-text {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
  }
  .e-d-how-list {
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .e-d-how-item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }

  .e-d-how-img {
    width: 56px;
    height: 56px;
  }
  .e-d-how-link {
    width: 436px;
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.e-d-characters-container {
  padding: 64px 16px 0;
  margin: auto;
  width: 375px;
}
.e-d-characters-textq {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 8px 0 24px;
}
.e-d-characters-texw {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.e-d-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 20px;
}
.e-d-characters-item {
  gap: 12px;
  border-radius: 12px;
  border-width: 1.5px;
  padding: 12px;
  border: 1.5px solid #15277752;
}
.e-d-characters-text-bold {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
}

.e-d-characters-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 0 0;
}
.e-d-characters-text-two {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.e-d-characters-text-two span {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
}
.e-d-characters-texe {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
}
.e-d-characters-texe span {
  color: #0000a4;
  text-decoration: underline;
}
@media screen and (min-width: 1202px) {
  .e-d-characters-container {
    padding: 160px 120px 0px;
    margin: auto;
    width: 1440px;
  }
  .e-d-characters-textq {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    padding: 16px 0 32px;
  }
  .e-d-characters-texw {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
  }
  .e-d-characters-list {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    gap: 20px;
  }
  .e-d-characters-item {
    border-radius: 12px;
    border-width: 1.5px;
    padding: 12px;
  }
  .e-d-characters-text-bold {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
  }

  .e-d-characters-text {
    font-size: 20px;
    padding: 12px 0 0;
  }
  .e-d-characters-text-two {
    font-size: 20px;
    padding-top: 12px;
  }
  .e-d-characters-text-two span {
    font-size: 20px;
  }
  .e-d-characters-texe {
    font-size: 20px;
    padding-top: 20px;
  }
  .e-d-characters-texe span {
    color: #0000a4;
    text-decoration: underline;
  }
}

.e-d-reviews-container {
  margin: auto;
  padding: 64px 16px 0;
  width: 375px;
}
.e-d-reviews-textq {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding-top: 16px;
}
.e-d-reviews-list {
  padding: 16px 0 32px;
}

.e-d-reviews-item {
  margin: 0 5px;
  width: 336px;
  height: 328px;
  gap: 16px;
  border-radius: 12px;

  padding: 16px;
  border: 1px solid #15277752;
}

.e-d-reviews-text-bold {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding: 16px 0;
}

.e-d-reviews-text {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 1202px) {
  .e-d-reviews-container {
    margin: auto;
    padding: 160px 120px 0;
    width: 1440px;
  }
  .e-d-reviews-textq {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;

    padding-top: 16px;
  }
  .e-d-reviews-list {
    padding: 64px 0 44px;
  }

  .e-d-reviews-item {
    margin: 0 10px;
    width: 522px;
    height: 345px;
    gap: 16px;
    border-radius: 12px;
    border-width: 1px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
  }

  .e-d-reviews-text-bold {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;

    padding: 16px 0;
  }

  .e-d-reviews-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
}

.e-d-faq-container {
  padding: 64px 17.5px 0px;
  width: 375px;
  margin: auto;
}
.e-d-faq-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 24px;
}
.e-d-faq-list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: disc;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1202px) {
  .e-d-faq-container {
    padding: 160px 120px 0;
    width: 1440px;
    margin: auto;
  }
  .e-d-faq-div {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 32px;
  }
  .e-d-faq-list {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: disc;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    width: 704px;
  }
}

.e-d-cont-container {
  padding: 64px 16px;
  width: 375px;
  margin: auto;
}

.e-d-cont-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}
.e-d-cont-item {
  color: #000932;
  text-decoration: none;
}
.e-d-cont-link {
  width: 171px;
  height: 44px;
  border-radius: 12px;
  padding: 12px;
  background: #0000a4;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
}
.e-d-cont-link:hover {
  box-shadow: 0px 4px 0px 0px #0000003d;
}
.e-d-cont-link-two {
  text-decoration: none;
  color: #ffffff;
}
.e-d-cont-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
}
@media screen and (min-width: 1202px) {
  .e-d-cont-container {
    padding: 160px 120px;
    width: 1440px;
    margin: auto;
  }

  .e-d-cont-list {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }

  .e-d-cont-link {
    width: 248px;
    height: 52px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    border-radius: 12px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .e-d-cont-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
}
.e-d-gallery-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px 0;
}
.e-d-galleryq {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding-top: 16px;
}
.e-d-gallery-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.e-d-gallery-item {
  width: 343px;
  border-radius: 12px;
  border-width: 1.5px;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  border: 1.5px solid #15277752;
}
.e-d-galleryw {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}
.e-d-gallerye {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 16px 0 0;
}
.e-d-galleryr {
  padding: 16px 0 0;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
.e-d-galleryt {
  margin-left: 20px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}
.e-d-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.e-d-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.e-d-gallery-button-icon {
  width: 44px;
  height: 44px;
}
.e-d-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1202px) {
  .e-d-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 160px 120px 0px;
  }

  .e-d-galleryq {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    padding-top: 16px;
  }
  .e-d-gallery-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .e-d-gallery-item {
    width: 386.6666564941406px;
    height: 649px;
    border-radius: 12px;
    border-width: 1.5px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
  .e-d-gallery-item-two {
    width: 1202px;
    height: 279px;
    gap: 16px;
    border-radius: 12px;
    border-width: 1.5px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
  .e-d-galleryw {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
  }
  .e-d-gallerye {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;

    padding: 16px 0 0;
  }
  .e-d-galleryr {
    padding: 16px 0 0;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }
  .e-d-galleryt {
    margin-left: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
}

.e-d-features-container {
  width: 375px;
  margin: auto;
  padding: 64px 35.5px 0;
}
.e-d-featuresq {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding-top: 8px;
}
.e-d-featuresa {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 24px;
}
.e-d-featuresw {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding-top: 24px;
}
.e-d-featurese {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 16px;
}
.e-d-featurest {
  margin-left: 20px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}
.e-d-features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 24px;
}
.e-d-features-item {
  width: 144px;
}
.e-d-features-img {
  width: 144px;
  height: 206px;
}
.e-d-features-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  padding-top: 8px;
}
.e-d-features-text span {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
}
.e-d-featuresea {
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding: 24px 0 16px;
}
.e-d-featureses {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}
.e-d-featuresed {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding-top: 24px;
}
@media screen and (min-width: 1202px) {
  .e-d-features-container {
    width: 1440px;
    margin: auto;
    padding: 160px 120px 0;
  }
  .e-d-featuresq {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    padding-top: 16px;
  }
  .e-d-featuresa {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;

    padding-top: 24px;
  }
  .e-d-featuresa-span {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
  }
  .e-d-featuresw {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;

    padding-top: 44px;
  }
  .e-d-featurese {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;

    padding-top: 24px;
  }
  .e-d-featurest {
    margin-left: 20px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
  .e-d-features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding-top: 24px;
  }
  .e-d-features-item {
    width: 252px;
    padding: 20px 12px;
  }
  .e-d-features-img {
    width: 228px;
    height: 346px;
  }
  .e-d-features-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;

    padding-top: 40px;
  }
  .e-d-features-text span {
    font-size: 20px;
  }
  .e-d-featuresea {
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
    text-align: center;

    padding: 44px 0 24px;
  }
  .e-d-featureses {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
  .e-d-featuresed {
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }
}

.e-d-container {
  padding: 84px 16px 32px;
  width: 375px;
  margin: auto;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
}

.e-d-container h1 {
  font-family: Fredoka;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
}

.e-d-container h2 {
  margin-top: 10px;
  font-family: Fredoka;
  font-weight: 300;
  font-size: 40px;
}

.e-d-container h3 {
  margin-top: 10px;
  font-family: Fredoka;
  font-weight: 300;
  font-size: 24px;
}

.e-d-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.e-d-container ul li {
  margin-bottom: 10px;
}
.e-d-container p {
  margin-top: 10px;
}
.e-d-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.e-d-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1202px) {
  .e-d-container {
    padding: 112px 120px 32px;
    width: 1440px;
    margin: auto;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }

  .e-d-container h1 {
    font-family: Fredoka;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
  }

  .e-d-container h2 {
    margin-top: 20px;
    font-family: Fredoka;
    font-weight: 300;
    font-size: 56px;
  }

  .e-d-container h3 {
    margin-top: 20px;
    font-family: Fredoka;
    font-weight: 300;
    font-size: 32px;
  }

  .e-d-container ul {
    margin-top: 20px;
  }

  .e-d-container ul li {
    margin-bottom: 10px;
  }
  .e-d-container p {
    margin-top: 20px;
  }
}

.e-d-footer {
  background-color: #02062c;
  color: #ffffff;
}

.e-d-footer-container {
  width: 375px;
  padding: 40px 16px;
  margin: auto;
  background-color: #02062c;
}

.e-d-footer-title {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.e-d-footer-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 24px;
  margin-top: 40px;
}
.e-d-footer-q {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff8f;
}
.e-d-footer-w {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 10px;
}
.e-d-footer-e {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.e-d-footer-social {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-top: 16px;
}
.e-d-footer-block-two {
  display: none;
}
.e-d-footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 40px;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff8f;
  text-align: center;
}
@media screen and (min-width: 1202px) {
  .e-d-footer-container {
    width: 1440px;
    padding: 40px 120px;
  }

  .e-d-footer-title {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
  }

  .e-d-footer-sections {
    display: flex;
    flex-direction: row;
    gap: 188.5px;
    margin-top: 40px;
  }
  .e-d-footer-q {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  .e-d-footer-w {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 10px;
  }
  .e-d-footer-e {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
  }
  .e-d-footer-social {
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding-top: 24px;
  }
  .e-d-footer-block-two {
    display: block;
  }
  .e-d-footer-blockq {
    display: none;
  }
  .e-d-footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 88px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
}

.e-d-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: #eceef7;
  z-index: 1000;
  display: none;
  color: #000932;
}
.e-d-cookie-popup-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #000932;
}
.e-d-cookie-popup-text-two {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
}

.e-d-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.e-d-cookie-button {
  border: none;
  background-color: transparent;
  width: 161px;

  padding: 12px 0;

  border-radius: 12px;
  border: 1px solid #0000a4;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #0000a4;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.e-d-cookie-button:hover {
  box-shadow: 0px 4px 0px 0px #0000003d;
}
#accept-cookies {
  background: #0000a4;
  color: #d9d9d9;
}

.e-d-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

@media screen and (min-width: 1202px) {
  .e-d-cookie-popup-text {
    font-weight: 400;
    font-size: 32px;
  }
  .e-d-cookie-popup-text-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-top: 14px;
  }

  .e-d-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .e-d-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 80px;
    display: none;
  }
  .e-d-cookie-button {
    width: 248px;

    padding-top: 12px;

    padding-bottom: 12px;

    gap: 12px;
    border-width: 1.5px;
    border-radius: 12px;
  }
}
